.canoe__app {
  padding-top: 100px;
  width: 90%;
  max-width: 980px;
  margin: 0 auto;
  font-family: 'Open Sans', sans-serif;
}

.canoe__app__title {
  font-size: 30px;
  font-weight: 300;
  color: #4A4A4A;
  margin: 0 0 24px;
  padding: 0;
}
